/*
* @description: 重置
* @author: fl
*/
html, body, div, span,button, input, applet, object,marquee, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'fzlantingyuans-db1-gbregular';
}

body{
    width: 100%;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

html{-webkit-text-size-adjust:none;}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button,input,textarea,a,label,img{
    -webkit-tap-highlight-color:transparent;
    outline: none;
    background-color: transparent;
    border: none;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
    visibility: hidden;
}

.flex_box {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.flex_box_column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  /*align-items: center;*/
  /*-webkit-align-items: center;*/
}

